/* Override Body */
body {
	background-color: var(--color-cream);
}
.admin {
	width: 100%;
	margin: 0 auto;
}
.admin-header {
	border-top: 1px solid var(--color-cream--700);
	border-bottom: 1px solid var(--color-cream--700);
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	padding: 0 var(--space-m);
	.brand-logo {
		border-right: 1px solid var(--color-cream--700);
		padding: var(--space-m);
		svg path {
			fill: var(--color-navy);
		}
	}
	nav {
		display: flex;
		align-items: center;
		margin: 0 var(--space-xl);
		ul {
			display: flex;
			flex-flow: row nowrap;
			list-style: none;
			gap: var(--space-l);
		}
		a {
			display: inline-block;
			text-transform: uppercase;
			
		}
	}
	.actions {
		margin-left: auto;
		
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
	}
}
.admin-main {
	padding: var(--space-xl);
}
.admin-footer {
	
}