#login-form {
	width: 100%;
	height: 100%;
	min-width: 30.0rem;
	max-height: 20.0rem;
	marign: 0 auto;
	place-content: center;
	display: flex;
	flex-flow: column wrap;
	gap: var(--space-m);
	text-align: center;
}