input {
	background-color: var(--color-white);
	border: 0.5px solid var(--color-cream--700);
	padding: var(--space-s) var(--space-s);
	border-radius: 0.1rem;
	width: 100%;
	font-weight: 300;
	color: var(--color-navy);
	font-size: var(--font-size--m);
}

button, .button {
	border: none;
	background-color: var(--color-orange);
	font-size: var(--font-size--m);
	font-weight: 600;
	text-transform: uppercase;
	padding: var(--space-l) var(--space-m);
	line-height: 2;
	
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	
	font-family: var(--font-body-family);
	font-style: normal;
	  font-stretch: normal;
	  font-weight: 500;
}
.button--small {
	border: none;
	background-color: var(--color-cream);
	border: 1px solid var(--color-navy);
	text-transform: uppercase;
	padding: var(--space-xs) var(--space-m);
	line-height: 2;
	border-radius: 99px;
	font-family: var(--font-body-family);
	font-size: var(--font-size--xs);
	font-weight: 500;
}
.button--small:hover {
	background-color: var(--color-navy);
	color: var(--color-cream);
}