.site-header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: var(--primary-900);
	border-bottom: var(--border);
	z-index: 50;
	height: var(--header);
}
.brand {
	padding: 0 var(--page-margin);
	display: block;
	font-size: var(--font-size--xl);
}
.header-actions {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: stretch;
	margin-left: auto;
	padding: 0 var(--page-margin);
	border-left: var(--border);
	height: 100%;
}