.sidebar {
	width: var(--sidebar);
	position: fixed;
	left: 0;
	top: var(--header);
	background-color: var(--primary-900);
	border-right: 0.05rem solid var(--primary-800);
	height: 100%;
	z-index: 50;
}
.mainNav {
	ul {
		list-style: none;
		padding: 0 var(--space-l);
		a:hover {
			color: var(--color-accent--blue);
		}
		ul {
			margin-top: var(--space-s);		
			padding: 0;
			font-size: var(--font-size--m);
			li {
				margin-bottom: var(--space-xs);
				a {
					background-color: rgba(0,0,0,0.1);
					display: block;
					padding: var(--space-s) var(--space-s);
					border-radius: 0.5rem;
				}	
				a:hover {
					background-color: rgba(0,0,0,0.3);
					padding: var(--space-s) var(--space-s) var(--space-s) var(--space-m);
				}	
			}
		}
	}
	li {
		margin-bottom: var(--space-xl);		
	}
	a {
		font-size: var(--font-size--m);
		
	}
	.menu-link {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: var(--space-s);
		
	}
}

.sidebar-admin {
	padding: var(--space-m) 0;
}