.section-widgets {
  display: grid;
  gap: 1.2rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 750px) {
  .section-widgets {
	grid-template-columns: repeat(10, 1fr);
  }
}

.widget {
	display: grid;
	background-color: var(--primary-850);
	padding: 0;
	border-radius: var(--radius-default);
	border: var(--border);
}

.widget-row--totals {
	padding: var(--border);
}
.widget-row {
	border-top: var(--border);
}
.widget-row.wg--2col{
	display: grid;
	grid-template-columns: 1fr 1fr;
	.widget-cell:first-child {
		border-right: var(--border);
	}
}
.widget-row.wg--3col{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	.widget-cell {
		border-right: var(--border);
	}
	.widget-cell:last-child {
		border-right: 0;
	}
}
.widget-row.wg--4col{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	.widget-cell {
		border-right:  var(--border);
	}
	.widget-cell:last-child {
		border-right: 0;
	}
}
.widget-cell {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	text-align: center;
	padding: var(--space-m) var(--space-s);
}

.data-money {
	font-family: var(--font-data-family);
	word-spacing: 0;
	letter-spacing: -0.1rem;
}

.data-xs {
	font-size: var(--font-size--xs);
}
.data-s {
	font-size: var(--font-size--s);
}
.data-m {
	font-size: var(--font-size--m);
}
.data-l {
	font-size: var(--font-size--l);
	
}
.data-xl	{
	font-size: var(--font-size--xl);
}

.data-label	{}
.label-xs	{
	font-size: var(--font-size--xs);
}
.label-s	{
	font-size: var(--font-size--s);
}
.label-m	{
	font-size: var(--font-size--m);
	text-transform: capitalize;
}
.label-l	{
	font-size: var(--font-size--l);
	text-transform: capitalize;
}
.label-xl	{
	font-size: var(--font-size--xl);
	text-transform: capitalize;
}

/* Widgets grid */
.grid-1		{grid-column: span 1}
.grid-2		{grid-column: span 2}
.grid-3 	{grid-column: span 3}
.grid-4		{grid-column: span 4}
.grid-5 	{grid-column: span 5}
.grid-6 	{grid-column: span 6}
.grid-7 	{grid-column: span 7}
.grid-8 	{grid-column: span 8}
.grid-9 	{grid-column: span 9}
.grid-10 	{grid-column: span 10}

.widget-table {
	font-size: var(--font-size--m);
	border-collapse: collapse;
	border-spacing: 0;
	td,th {
		text-align: right;
	}
	.row-title {
		text-align: left;
		text-transform: uppercase
	}
	tr.spacer-row td {
		padding: 1rem;
	}
	tr.row-space td,
	tr.row-space th{
		border-top: 0.05rem solid var(--primary-600);
		border-collapse: collapse;
		margin-top: 1rem;
		padding-top: 1rem;
	}
}