---
import '../../src/styles/base/reset.css';
import '../../src/styles/base/tokens.css';
import '../../src/styles/base/typography.css';
import '../../src/styles/base/base.css';
import '../../src/styles/components/forms.css';
import '../../src/styles/layout/admin.css';
import Head from "./Head.astro";

export const prerender = false;
---

<!doctype html>
<html lang="es">
  <Head />
  <body class="admin">
	<header class="admin-header">
		<a class="brand" href="/">
			<svg class="brand-logo light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 43.2"><path class="uuid-9affea38-b14f-48aa-af30-8a5cc0f271dd"  d="M64,28.95c0-.71-.49-1.31-1.16-1.47-.64-2.79-3.03-4.91-5.95-5.13-.26-3.42-3.12-6.12-6.61-6.12-3.66,0-6.63,2.98-6.63,6.63,0,3.06-2.49,5.56-5.56,5.56h0c-2.33,0-4.37,1.21-5.56,3.03v-5.53c0-3.05,2.48-5.54,5.53-5.56.01,0,.02,0,.03,0,3.66,0,6.63-2.98,6.63-6.63s-2.7-6.34-6.12-6.61c-.22-2.92-2.35-5.31-5.13-5.95-.16-.66-.76-1.16-1.47-1.16s-1.31.49-1.47,1.16c-2.79.64-4.91,3.03-5.13,5.95-3.42.26-6.12,3.12-6.12,6.61,0,3.66,2.98,6.63,6.63,6.63,3.06,0,5.56,2.49,5.56,5.56v5.53c-1.18-1.82-3.23-3.02-5.56-3.02,0,0,0,0,0,0h0c-3.05,0-5.54-2.48-5.56-5.53,0-.01,0-.02,0-.03,0-3.66-2.98-6.63-6.63-6.63s-6.34,2.7-6.61,6.12c-2.92.22-5.31,2.35-5.95,5.13-.66.16-1.16.76-1.16,1.47s.49,1.31,1.16,1.47c.64,2.79,3.03,4.91,5.95,5.13.26,3.42,3.12,6.12,6.61,6.12,3.66,0,6.63-2.98,6.63-6.63,0-3.06,2.49-5.56,5.56-5.56,2.6,0,4.79,1.8,5.39,4.22-.48.26-.82.76-.82,1.34,0,.64.39,1.18.94,1.41-.32,2.76-2.67,4.91-5.52,4.91-.3,0-.54.24-.54.54s.24.54.54.54c2.33,0,4.37-1.21,5.56-3.02v3.25c0,.3.24.54.54.54s.54-.24.54-.54v-3.25c1.18,1.82,3.23,3.02,5.56,3.02.3,0,.54-.24.54-.54s-.24-.54-.54-.54c-2.84,0-5.19-2.15-5.52-4.91.55-.23.94-.77.94-1.41,0-.58-.33-1.09-.82-1.34.6-2.42,2.79-4.22,5.39-4.22h0s0,0,0,0h0c3.05,0,5.54,2.48,5.56,5.53,0,.01,0,.02,0,.03,0,3.66,2.98,6.63,6.63,6.63s6.34-2.7,6.61-6.12c2.92-.22,5.32-2.35,5.95-5.13.66-.17,1.16-.76,1.16-1.47ZM38.1,19.27h0s-.02,0-.03,0c-2.59-.01-4.76-1.81-5.36-4.21.38-.2.66-.55.77-.98,1.54-.35,2.87-1.24,3.8-2.45,1.24,1.64,3.2,2.63,5.28,2.63.36,0,.72-.03,1.07-.09-.23,2.85-2.62,5.11-5.53,5.11ZM27.35,10.66c1.02-1.55,2.77-2.51,4.64-2.51s3.62.95,4.65,2.51c-.76,1.15-1.93,2-3.3,2.34-.26-.48-.76-.82-1.34-.82s-1.09.33-1.34.82c-1.37-.34-2.55-1.19-3.3-2.34ZM43.61,13.07c-.35.07-.7.11-1.05.11-1.88,0-3.64-.97-4.66-2.53.39-.75.63-1.58.71-2.46,2.61.24,4.7,2.29,5.01,4.88ZM37.56,7.62c0,.69-.13,1.36-.37,1.97-1.13-1.42-2.81-2.32-4.63-2.48.16-1.67,1.07-3.2,2.48-4.13,1.51.99,2.51,2.7,2.51,4.64ZM32,5.02c-.43-1-1.11-1.9-1.97-2.59.61-.23,1.28-.37,1.97-.37s1.36.13,1.97.37c-.87.69-1.54,1.58-1.97,2.59ZM28.95,2.98c1.41.93,2.32,2.46,2.48,4.13-1.82.16-3.49,1.06-4.63,2.48-.23-.61-.37-1.27-.37-1.97,0-1.94,1-3.65,2.51-4.64ZM25.4,8.18c.07.84.3,1.64.66,2.36-1.01,1.63-2.8,2.63-4.72,2.63-.32,0-.63-.04-.95-.09.29-2.6,2.39-4.66,5.01-4.9ZM20.37,14.18c.32.05.64.07.96.07,2.11,0,4.1-1.02,5.34-2.7.93,1.25,2.28,2.17,3.86,2.53.11.42.39.78.77.98-.6,2.42-2.79,4.22-5.39,4.22-2.91,0-5.3-2.25-5.53-5.09ZM28.52,19.81c1.56-.67,2.81-1.92,3.48-3.48.67,1.56,1.92,2.81,3.48,3.48-1.56.67-2.81,1.92-3.48,3.48-.67-1.56-1.92-2.81-3.48-3.48ZM19.27,22.85h0s0,.02,0,.03c-.01,2.59-1.81,4.76-4.21,5.36-.2-.38-.55-.66-.97-.77-.35-1.54-1.24-2.87-2.46-3.8,1.64-1.24,2.63-3.2,2.63-5.28,0-.36-.03-.72-.09-1.07,2.86.23,5.11,2.62,5.11,5.53ZM10.66,33.59c-1.55-1.02-2.51-2.77-2.51-4.64s.95-3.62,2.51-4.65c1.15.76,2,1.93,2.34,3.3-.48.26-.82.76-.82,1.34s.33,1.09.82,1.34c-.34,1.37-1.19,2.55-2.34,3.3ZM13.07,17.33c.07.35.11.7.11,1.05,0,1.88-.96,3.64-2.53,4.66-.75-.39-1.58-.63-2.46-.71.24-2.61,2.29-4.7,4.88-5.01ZM7.62,23.39c.69,0,1.36.13,1.97.37-1.42,1.13-2.32,2.81-2.48,4.63-1.67-.16-3.2-1.07-4.13-2.48.99-1.51,2.7-2.51,4.64-2.51ZM2.43,30.92c-.23-.61-.37-1.28-.37-1.97s.13-1.36.37-1.97c.69.87,1.58,1.54,2.59,1.97-1.01.43-1.9,1.11-2.59,1.97ZM2.98,31.99c.93-1.41,2.46-2.32,4.13-2.48.16,1.82,1.06,3.49,2.48,4.63-.61.23-1.27.37-1.97.37-1.94,0-3.65-1-4.64-2.51ZM8.18,35.55c.84-.07,1.64-.3,2.36-.66,1.63,1.01,2.63,2.8,2.63,4.72,0,.32-.04.63-.09.95-2.6-.29-4.66-2.39-4.9-5.01ZM14.18,40.58c.05-.32.07-.64.07-.96,0-2.11-1.02-4.1-2.7-5.34,1.26-.93,2.17-2.28,2.53-3.86.42-.11.77-.39.97-.77,2.42.6,4.22,2.79,4.22,5.39,0,2.91-2.25,5.3-5.09,5.53ZM19.81,32.43c-.67-1.56-1.92-2.81-3.48-3.48,1.56-.67,2.81-1.92,3.48-3.48.67,1.56,1.92,2.81,3.48,3.48-1.56.67-2.81,1.92-3.48,3.48ZM58.98,28.95c1.01-.43,1.9-1.11,2.59-1.97.23.61.37,1.28.37,1.97s-.13,1.36-.37,1.97c-.69-.87-1.58-1.54-2.59-1.97ZM61.02,25.9c-.93,1.41-2.46,2.32-4.13,2.48-.16-1.82-1.06-3.49-2.48-4.62.61-.23,1.27-.37,1.97-.37,1.94,0,3.65,1,4.64,2.51ZM53.34,33.59c-1.15-.76-2-1.93-2.34-3.3.48-.26.82-.76.82-1.34s-.33-1.09-.82-1.34c.34-1.37,1.19-2.55,2.34-3.3,1.55,1.02,2.51,2.77,2.51,4.64s-.95,3.62-2.51,4.65ZM55.82,22.34c-.84.07-1.64.3-2.36.66-1.63-1.01-2.63-2.8-2.63-4.72,0-.32.04-.63.09-.95,2.6.29,4.66,2.39,4.9,5.01ZM49.82,17.32c-.05.32-.07.64-.07.96,0,2.11,1.02,4.1,2.7,5.34-1.26.93-2.17,2.28-2.53,3.86-.42.11-.78.39-.98.77-2.42-.6-4.22-2.79-4.22-5.39,0-2.91,2.25-5.3,5.09-5.53ZM40.71,28.95c1.56-.67,2.81-1.92,3.48-3.48.67,1.56,1.92,2.81,3.48,3.48-1.56.67-2.81,1.92-3.48,3.48-.67-1.56-1.92-2.81-3.48-3.48ZM44.73,35.04h0s0-.02,0-.03c.01-2.59,1.81-4.76,4.21-5.36.2.38.55.66.98.77.35,1.54,1.24,2.87,2.45,3.8-1.64,1.24-2.63,3.2-2.63,5.28,0,.36.03.72.09,1.07-2.85-.23-5.11-2.62-5.11-5.53ZM50.93,40.56c-.07-.35-.11-.7-.11-1.06,0-1.88.96-3.64,2.53-4.66.75.39,1.58.63,2.46.71-.24,2.61-2.29,4.7-4.88,5.01ZM56.38,34.51c-.69,0-1.36-.13-1.97-.37,1.42-1.13,2.32-2.81,2.48-4.63,1.67.16,3.2,1.07,4.13,2.48-.99,1.51-2.7,2.51-4.64,2.51Z"/></svg>
		</a>
	</header>
	
	
	<main class="site-main admin-main">
		<aside class="admin-sidebar">
			<nav class="admin-navigation">
				<ul>
					<li class="sidebar-block">
						<span class="menu-title">Inversiones</span>
						<ul class="submenu">
							<li><a href="/admin/propiedades">Propiedades</a></li>
							<li><a href="/admin/aportaciones">Aportaciones</a></li>
							
						</ul>
					</li>
					<li class="sidebar-block">
						<span class="menu-title">RDS</span>
						<ul class="submenu">
							<li><a href="/admin/rds">Pisos RDS</a></li>
							
						</ul>
					</li>
					<li class="sidebar-block">
						<span class="menu-title">Casa</span>
						<ul class="submenu">
							<li><a href="/admin/casa/activos">Activos</a></li>
							<li><a href="/admin/movimientos">Movimientos</a></li>
							<li><a href="/admin/movimientos/categorias">Categorias</a></li>
							<li><a href="/admin/movimientos/etiquetas">Etiquetas</a></li>
							<li><a href="/admin/casa/categorias">Categorias</a></li>
						</ul>
					</li>
					<li class="sidebar-block">
						<a href="/admin/kaws">Kaws</a>
					</li>
				</ul>			
			</nav>
		</aside>
		<div class="main-content">
			<slot />  
		</div>
	</main>
	<footer class="admin-footer">
	</footer>
  </body>
</html>
