---
import '../../src/styles/base/reset.css';
import '../../src/styles/base/tokens.css';
import '../../src/styles/base/typography.css';
import '../../src/styles/base/base.css';
import '../../src/styles/components/forms.css';
import '../../src/styles/layout/admin.css';
import Head from "./Head.astro";

export const prerender = false;
---

<!doctype html>
<html lang="es">
  <Head />
  <body class="admin">
	<header class="admin-header">
		<div class="brand-logo">
			Bondia / Administrador
		</div>
		<div class="actions">
			<div class="preview">
				<a href="/">Ir a Bondia</a>
			</div>
		</div>
	</header>
	
	
	<main class="site-main admin-main">
		<aside class="admin-sidebar">
			<nav class="admin-navigation">
				<ul>
					<li class="sidebar-block">
						<span class="menu-title">Inversiones</span>
						<ul class="submenu">
							<li><a href="/admin/propiedades">Propiedades</a></li>
							<li><a href="/admin/aportaciones">Aportaciones</a></li>
							
						</ul>
					</li>
					<li class="sidebar-block">
						<span class="menu-title">RDS</span>
						<ul class="submenu">
							<li><a href="/admin/rds">Pisos RDS</a></li>
							
						</ul>
					</li>
					<li class="sidebar-block">
						<span class="menu-title">Casa</span>
						<ul class="submenu">
							<li><a href="/admin/casa/activos">Activos</a></li>
							<li><a href="/admin/movimientos">Movimientos</a></li>
							<li><a href="/admin/movimientos/categorias">Categorias</a></li>
							<li><a href="/admin/movimientos/etiquetas">Etiquetas</a></li>
							<li><a href="/admin/casa/categorias">Categorias</a></li>
						</ul>
					</li>
					<li class="sidebar-block">
						<a href="/admin/kaws">Kaws</a>
					</li>
				</ul>			
			</nav>
		</aside>
		<div class="main-content">
			<slot />  
		</div>
	</main>
	<footer class="admin-footer">
	</footer>
  </body>
</html>
