---
import '../../src/styles/components/header-module.css';
import Icon from "../components/Icon.astro";
import { Settings } from '@lucide/astro';
---
<header class="site-header">
  <a href="/" class="brand">
      Bondia
  </a>
  <div class="header-actions">
    <a href="/admin">
      <Settings size="24"/>
    </a>
  </div>
</header>
