---
import '../styles/globals.css';
import Head from "./Head.astro";
import Header from "./Header.astro";
import Sidebar from "./Sidebar.astro";
---

<!doctype html>
<html lang="es">
  <Head />
  <body class="min-h-screen bg-background font-sans antialiased">
    <Header />
    <div class="flex">
      <Sidebar />
      <main class="flex-1 p-6 overflow-auto">
        <slot />
      </main>
    </div>
  </body>
</html>
