---
import '../../src/styles/base/reset.css';
import '../../src/styles/base/tokens.css';
import '../../src/styles/base/typography.css';
import '../../src/styles/components/forms.css';
import '../../src/styles/base/base.css';
import Head from "./Head.astro";
import Header from "./Header.astro";
import Sidebar from "./Sidebar.astro";
---

<!doctype html>
<html lang="es">
  <Head />
  <body class="site">
    <Header />
    <main class="site-main">
      <Sidebar />
      <slot />
    </main>
  </body>
</html>
