---
import '../styles/globals.css';
import Head from "./Head.astro";
import { SidebarLayout } from "./SidebarLayout";

const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="es">
  <Head />
  <body class="min-h-screen bg-background font-sans antialiased">
    <SidebarLayout client:load currentPath={currentPath}>
      <slot />
    </SidebarLayout>
  </body>
</html>
