:root {
	/* Tipografía */
	/* Spacing */
	/* Colors */
	--color-navy: #01193C;
	--color-white: #ffffff;
	--color-cream: #FFF6E1;
	--color-cream--700: #F7ECD4;
	--color-cream--900: #897855;
	/* Layout */
	/* Viewports */
}